node_modules/
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp
docs/vanilla/**/*.md
!docs/vanilla/**/index.md
docs/mods/**/*.md
!docs/mods/**/index.md
docs/.vitepress/sidebar.generated.ts
.superpowers/
