# Auto-detect text files
* text=auto

# Source files
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf

# Binary files
*.png binary
*.ico binary
*.svg text eol=lf
